html
  head
    title SBB Angular Component Library Versions
    meta(name="robots" content="noindex, nofollow")
    link(
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    )
  body
    div(class="container")
      div(class="row")
        h1 SBB Angular Component Library Versions
        div(class="col")
          h2 Releases
          table(class="table")
            each version in releasedVersions
              tr
                td
                  a(href='/' + version.tag)= version
                td= version.toLocaleDatetime()
        div(class="col")
          h2 Development (Showcase Only)
          table(class="table")
            each version in devVersions
              tr
                td
                  a(href='/' + version.tag)= version
                td= version.toLocaleDatetime()
